{% extends "base.html" %}
	{% block bodycontent %}		
		<div id="bodyarea">
			<div id="introText" class="introColumn">
                <h1 style="font-size: 3em;">What is Sock Market?</h1>

                <p>Sock Market is a secret project...go away for now (it's not done).</p>

                <h2><u>Search for a sock</u></h2>
                <form method="post" action="javascript:getInfo()">
                    Symbol: <input type="text" id="in_ticker"><br/>
                    Exchange: <input type="text" id="in_exchange"><br/>
                    <input type="submit" value="Get Info">
                </form>

                <script>
                    function getInfo()
                    {
                        var inTick = $('#in_ticker').val();
                        var inExch = $('#in_exchange').val();

                        $.ajax
                        ({
                            type: "POST",
                            url: "/getStockInfo",
                            dataType: 'json',
                            data: JSON.stringify
                            (
                                { "ticker": inTick},
                                {"exchange": inExch}
                            )
                        })

                        .done
                        (
                            function(infoResponse)
                            {
                                $('#tick').text(infoResponse['stock_ticker'];
                                $('#price').text(infoResponse['stock_price'];
                            }
                        )
                    }
                </script>
            </div>
            <div>
                <p>Ticker: </p><p id="tick" value="*"></p>
                <p>Price: </p><p id="price" value="*"></p>
                </br>
                <p id="stock_info">{{stock_info}}</p>
			</div>
		</div>
	{% endblock %}
