{% extends "base.html" %}
	{% block bodycontent %}		
		<div id="bodyarea">
			<div id="introText" class="introColumn">
			<h1 style="font-size: 3em;">What is Chalkboard?</h1>
				
			<p>Chalkboard allows streamlined communication between Supervisors and their Teams. Whereas other large
			systems require dedicated administrators and seem to make life harder, Chalkboard is simple.</p>

			<p><b><u>Event Supervisors</u></b> can simply <a href="{{login}}">
			Login</a> with their Email and easily begin creating and editing company event pages. You will seamlessly be able to 
			import client lists, set up meeting times, post announcements, and more -- all from a simple dashboard.</p>

			<p><u><b>Team Members</b></u> can begin by searching for a particular company: </p>
			
				<form style="text-align: right;" method="post" action="/search">
					Company Name: <input type="text" name="course"><br>
					Supervisor Name: <input type="text" name="instructor"><br>
					Supervisor Email: <input type="text" name="email"><br>
					<br>
					<input type="submit" value ="SEARCH">
				</form>
			</div>
		</div>
	{% endblock %}
