{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			<div id="introText" class="introColumn">
				<h2><u>Course List: </h2></u>
                <div id="test"></div>
                <br>
				<div id="courselist"></div>
				
				<script>
					// this will give us the list of notes - we pass the results off to updateTitleList
					function courseList() 
					{
						var xmlHttp = createXmlHttp();
						
						xmlHttp.onreadystatechange = function() 
						{
							if (xmlHttp.readyState == 4) 
							{                                
								var courses = JSON.parse(xmlHttp.responseText);
								updateCourseList(courses);
							}
						}
					  postParameters(xmlHttp, '/course_list', '');
					}
					
					courseList(); //Call function
					
					// this dynamically builds the list of URLS
					function updateCourseList(courses) 
					{
					  var text = '';
					  
					  if (courses && courses.length > 0) 
					  {
						for (var i = 0; i < courses.length; i++) 
						{
							if(courses[i].is_active === "True")
							{
								text += '<a href="/' + courses[i].id + '">' + courses[i].name + '</a><br>';
							}
						}
						 setText('courselist', text);
					  }
					}
				
					// this is just a convenience function to set the value of an HTML element
					function setText(id, text) 
					{
						document.getElementById(id).innerHTML = text;
					}

					// we use this function to abstract the creation of the XML HTTP object.  
					// Because of browser differences, we want to isolate browser-specific code.
					function createXmlHttp() 
					{
						var xmlhttp;
						
						if (window.XMLHttpRequest) 
						{
							xmlhttp = new XMLHttpRequest();
						} 
						else 
						{
							xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
						}
		
						if (!(xmlhttp)) 
						{
							alert("your horrible browser does not support AJAX, get with it man");
						}
						return xmlhttp;
					}

					// Since we'll be posting parameters to a URL over and over again, we can use this 
					// function to simplify the calls.  Also, since these calls are dependent on the
					// XML HTTP object's methods, it's not a bad idea to abstract this into a separate
					// function so that we can adapt easily if some of the object changes.
					function postParameters(xmlHttp, target, parameters) 
					{
					  if (xmlHttp) 
					  {
						xmlHttp.open("POST", target, true);
						xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
						xmlHttp.send(parameters);
					  }
					}
				</script>
                <br>
				<br>
				<a href="/new_course">Create New Course</a>
			</div>
		</div>
	{% endblock %}
