{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			<div id="introText" class="introColumn">
            <link rel="stylesheet" type ="text/css" href="/js/jquery.datetimepicker.css">
             
                <script src ="/js/jquery-2.1.1.js" type ="text/javascript"></script>
                <script src ="/js/jquery.datetimepicker.js" type ="text/javascript"></script>   
                <script src ="/js/jquery-ui.js"></script>
                
				<h1><u>Create A New Event</u>  </h1>
				<h3>Creating a new calendar event is simple! We just need some info from you:</h3>
				<br>
				<form method="post" action="/new_event">
					Event Name: <input type="text" name="event_name"><br>
					Event Date and Time: <input id="datetimepicker" name ="event_datetime" type="event_datetime"><br>
                     <script>
                    $(function() {
                    $( "#datetimepicker" ).datetimepicker();
                    });
                    </script>
					
                    Notes: <input type="text" size="50" name="event_notes">
                    <input type='hidden' name='course_id' value="{{course_id}}">
                    <br>
                    <input type="submit" value ="Create Event">
				</form>
			</div>
		</div>
	{% endblock %}
